@page "/announcements"
<!-- REQUIREMENT 2.10 -->
@inject IDialogService _dialogService

<link rel="stylesheet" href="@(nameof(karma)).styles.css" />

@if (_mainUser.IsCharity)
{
    <div class="fab">
        <MudFab Color="Color.Primary"
                Icon="@Icons.Material.Filled.Add"
                Label="Add announcement"
                @onclick="OpenDialog" />
    </div>
}
<div class="announcements-place">
    <div class="container">
        @if (_announcements == null)
        {
<p><em>Loading...</em></p> }
            else
            {
<ul>
    @foreach (var announcement in _announcements)
    {
<li>
    @if (_mainUser.IsAdmin == true)
    {
<img class="delete-btn" @onclick="() => OpenDialogConfirmation(announcement.Id)" src="img/delete-btn.png">                    }
    <img class="profile-pic" src="img/save-the-children.png" alt="Charity logo">
    <h1 class="charity-title">@announcement.Title</h1>
    <h3 class="valid-date">Valid until: @announcement.ValidUntil</h3>
    <p class="post-text">@announcement.Description</p>
    <img class="post-pic" src="data:image;base64,@System.Convert.ToBase64String(@announcement.Img)" alt="Announcement image" />
    <a class="upvote-btn">Share!</a>
</li>                }
</ul>}
    </div>
</div>