@page "/charities"
@using karma.Components
@inject IDialogService _dialogService

<link rel="stylesheet" href="@(nameof(karma)).styles.css" />

<div class="fab">
    <MudFab
        Color="Color.Primary"
        Icon="@Icons.Material.Filled.Add"
        Label="Add charity"
        @onclick="OpenDialog" />
</div>

<div class="charities-place">

    <div class="container">
        @if (_charities == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <ul>
                @foreach (var charity in _charities)
                {
                <li>
                    <img src="img/save-the-children.png" alt="Charity logo">
                    <h2>@charity.Name</h2>
                    <p>@charity.Description</p>
                    <a class="themed-button" href="@charity.Website">Website</a>
                    <a class="themed-button" href="#">Donate</a>
                </li>
                }
            </ul>
        }
    </div>
</div>

@code {
    private List<Charity> _charities;

    protected override void OnInitialized()
    {
        using (var db = new dbkarmaContext())
        {
            _charities = db.Charities.OrderByDescending(x => x.Added).ToList();
        }
    }

    // Define dialog
    async Task OpenDialog()
    {
        var dialog = _dialogService.Show<DialogAddNewCharity>("Add charity");
        var result = await dialog.Result;
        
        if (!result.Cancelled)
        {
            Charity charity = (Charity) result.Data;
            charity.Added = DateTime.Now;

            using (var db = new dbkarmaContext())
            {
                db.Add(charity);
                db.SaveChanges();
            }

            _charities.Insert(0, charity);
        }
    }
}
