@page "/Userpage"
@inject IDialogService _dialogService
@inject NavigationManager NavigationManager



<MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary">
    <MudTabPanel Text="Your Information">
        <div class="listings-place">
            <div class="container">
                <img class="post-pic" src="data:image;base64,@System.Convert.ToBase64String(@_mainUser.Img)" alt="Profile pic" />
                <h1>@_mainUser.Name</h1>
                <p>@_mainUser.Email</p>
            </div>
        </div>
    </MudTabPanel>
    @if (_mainUser.IsCharity)
    {
        <MudTabPanel Text="Your Announcements">
            <div class="announcements-place">
                <div class="container">
                    @if (_announcements == null)
                    {

                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="1000px" Height="500px" />
                  }
                    else
                    {
                        @if (_mainUser.IsAdmin && charityCount != null && charityCount != null)
                        {
                            <h1>Charity count: @charityCount.Count()</h1>
                            @foreach(var groupedCharities in charityCount)
                            {
                                if (groupedCharities.Key)
                                {<h1>Charities</h1>}
                                else {<h1>Users</h1>}

                                foreach (var charity in groupedCharities)
                                {
                                    <p>@charity.Name</p>
                                }
                             }
                         }
                        <ul>
                            @foreach (var announcement in _announcements)
                            {
                                if (announcement.UserId == _mainUser.Id)
                                {
                                    <li>

                                        <img class="delete-btn" @onclick="() => OpenDialogConfirmationAnnouncement(announcement.Id)" src="img/delete-btn.png">
                                        <img class="profile-pic" src="img/save-the-children.png" alt="Charity logo">
                                        <h1 class="charity-title">@announcement.Title</h1>
                                        <h3 class="valid-date">Valid until: @announcement.ValidUntil</h3>
                                        <p class="post-text">@announcement.Description</p>
                                        <img class="post-pic" src="data:image;base64,@System.Convert.ToBase64String(@announcement.AnnouncementImg)" alt="Announcement image" />
                                        <a class="upvote-btn">Share!</a>
                                    </li>

                                }
                            }
                        </ul>
                    }
                </div>
            </div>
        </MudTabPanel>
    }
    <MudTabPanel Text="Your Listings">
        <div class="listings-place">
            <div class="container">
                @if (_listings == null)
                {
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" />
                        <MudSkeleton />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="1000px" Height="500px" />

                        <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" />
                        <MudSkeleton />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="1000px" Height="500px" />
                }
                else
                {
                    <ul>
                        @foreach (var listing in _listings)
                        {
                            @if (listing.UserId == _mainUser.Id)
                            {
                                <li>
                                    <img class="delete-btn" src="img/delete-btn.png" @onclick="() => OpenDialogConfirmationListing(listing.Id)">
                                    <img class="post-pic" src="data:image;base64,@System.Convert.ToBase64String(@listing.Img)" alt="Listing image" />
                                    <h2>@listing.Title</h2>
                                    <p>@listing.Description</p>
                                </li>
                            }
                        }
                    </ul>
                }
            </div>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Your Messages">
        @if (_messages == null)
        {
            <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" />
            <MudSkeleton />
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="1000px" Height="500px" />

            <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" />
            <MudSkeleton />
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="1000px" Height="500px" />
        }
        else
        {
            <div class="listings-place">
                <div class="container">
                    <ul>
                        @foreach (var renderedMessage in renderedMessages)
                        {
                        @if (renderedMessage.ListerId == _mainUser.Id)
                            {
                            <li>
                                <img class="post-pic" src="data:image;base64,@System.Convert.ToBase64String(renderedMessage.Img)" alt="Listing image" />
                                <h2>@renderedMessage.Title</h2>
                                <p>@renderedMessage.Description</p>
                                <h2>From: @renderedMessage.Sender</h2>
                                <p>@renderedMessage.Message</p>
                            </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }

    </MudTabPanel>
</MudTabs>
@code {

}
